.page_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

.page_btn {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0;
  font-size: 1rem;

  &:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
  }

  &[disabled] {
    cursor: revert;
    transform: revert;
    color: #e5d1d1;
  }

  &[aria-current] {
    font-weight: bold;
    background-color: #aa7373;
    color: white;
    cursor: revert;
    transform: revert;
  }
}
