.category_modal_li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.category_modal_li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.category_modal_li a:hover {
  color: rgb(222, 147, 147);
}
