.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_div {
  position: relative;
  height: 160px;
}

.logo {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav_top {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 1200px;
  height: 40px;
  margin: auto;
  color: var(--main-color);
  font-size: 14px;
}

.nav_top_ul {
  float: right;
}

.nav_top li {
  margin-left: 16px;
}

.nav_top li:hover {
  text-decoration: underline;
}

.nav_icon {
  width: 1200px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search_icon {
  height: 25px;
}

.cart_icon {
  height: 30px;
  margin-left: 20px;
  padding-bottom: 5px;
}

.main_nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-top: 1px solid #e5d1d1;
  border-bottom: 1px solid #e5d1d1;
}

.main_nav_li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 18px;
}

.main_nav_li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main_nav_li:hover {
  cursor: default;
}

.main_nav_li:hover > span {
  color: rgb(180, 180, 180);
}

.main_nav_li a:hover {
  cursor: pointer;
  color: rgb(180, 180, 180);
}

.main_nav_li > a > span {
  padding: 15px;
  height: 55px;
  box-sizing: border-box;
}
/* 
.main_nav_li > a:hover span {
  border-bottom: 4px solid rgb(125, 125, 125);
} */
